<header class="header">
  <nav class="nav-bar">
    <div class="logo">
      <a href="/" id="logo">Controle de <span>Estoque</span></a>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="" class="nav-link" target="_blank">Sobre</a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/flavioadriano"
          class="nav-link"
          target="_blank">
          Linkedin
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/fravondev" target="_blank" class="nav-link">
          GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>
