 <header class="header">
      <nav class="nav-bar">
        <div class="logo">
          <a href="/" id="logo">Controle de estoque</a>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/flavioadriano" target="_blank" class="nav-link"
              >Linkedin</a
            >
          </li>
          <li class="nav-item">
            <a href="https://github.com/fravondev" target="_blank" class="nav-link">GitHub</a>
          </li>
          <li class="nav-item">
            <a href="https://fir-sphynx-f84.notion.site/Controle-de-estoque-af43747d8f58469586e2b00c77f82a07" target="_blank" class="nav-link">Sobre</a>
          </li>

        </ul>
        <div class="mobile-menu-icon">
          <button (click)="showMenu()">
            <img
              class="icon"
              src="assets/static/img/open_menu.svg"
              alt="icon"
            />
          </button>
        </div>
      </nav>

      <div class="mobile-menu">
        <ul class="nav-list-2">
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/flavioadriano" class="nav-link">Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/flavinpv" class="nav-link">GitHub</a>
          </li>
            <li class="nav-item">
            <a href="https://fir-sphynx-f84.notion.site/Controle-de-estoque-af43747d8f58469586e2b00c77f82a07" target="_blank" class="nav-link">Sobre</a>
          </li>
        </ul>
      </div>
    </header>
